extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1(class='center underline')= title
  h3 Use the below form to EDIT this Contact.
  hr
  if msg
    p(class='redtext')= msg
  form(action=`/contacts/${contact.id}/edit`, method="post")
    table(style='width:30%; background-color: white;')
      tr
        td 
          label(for="firstName") First Name
        td
          input(type="text", name="firstName", style='width:90%;', value=contact.firstName)
      tr 
        td
          label(for="lastName") Last Name
        td
          input(type="text", name="lastName", style='width:90%;', value=contact.lastName)
      tr
        td
          label(for="emailAddress") Email Address
        td
          input(type="email", name="emailAddress", style='width:90%;', value=contact.emailAddress)
      tr
        td
          label(for="notes") Notes
        td
          textarea(name='notes', rows='5', style='width:90%; font-family: sans-serif;')=contact.notes
    br
    br
    table(style='width:30%;')
      tr
        td
          button(type="submit" class="greenOnHover") Save Contact
        td
          a(href=`/contacts/${contact.id}`) 
            button(type="button" class="redOnHover") Cancel