extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1(class='center underline')= title
  h3 Welcome to #{title}
  hr
  a(href="/contacts/add")
    button(type="button") Add Contact
  hr
  if contacts.length > 0
    #contacts-wrapper
      table(style='width:100%; text-align: center; background-color: white;', border='1')
        tr
          th First Name
          th Last Name
          th Email Address
          th View Contact
        each val in contacts
          tr 
            td(contacts-contactid=val.id)=val.firstName
            td(contacts-contactid=val.id)=val.lastName
            td(contacts-contactid=val.id)=val.emailAddress
            td 
              a(href=`/contacts/${val.id}`) 
                button(type="button" class="blueOnHover") View Contact
  else
    li No Contacts to Display...!!!